@charset "utf-8";
/*Select*/
.rt-caret-down:before{content: ""}
.rt_hb_custom-select option,.rt_hb_subscribe-select  option{padding:5px 15px}
.rt_hb_custom-select {
	position: relative;
	width: 100%;
	z-index: 1;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url("../images/custom-select.png?v=1") no-repeat right 20px center
}
.rt_hb_custom-select:before {
	color: #333;
	display: block;
	height: 100%;
	padding: 0 0.625em;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	z-index: -1;

}
.rt_hb_custom-select select {
	cursor: pointer;
	background-color: transparent;
	border: 0 none;
	box-shadow: none;
	color: #333;
	margin: 0;
	padding: 12px 15px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	line-height: 26px;
	height: 52px;
	font-size: 14px;
}
.rt_hb_custom-select select::-ms-expand {
	display: none; /* to ie 10 */
}
.rt_hb_custom-select select:focus {
	outline: none;
}
:-moz-any(.rt_hb_custom-select):before {
	background-color: #fff;
	pointer-events: none;
	z-index: 1;
}

.rt_hb_subscribe-select {
	border: 1px solid #d6d6d6;
	position: relative;
	width: 100%;
	z-index: 1;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url("../images/custom-select.png?v=1") no-repeat right 20px center;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
}
.rt_hb_subscribe-select:before {
	color: #333;
	display: block;
	height: 100%;
	padding: 0 8.5px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	z-index: -1;
}
.rt_hb_subscribe-select select {
	font-size: 14px;
	cursor: pointer;
	background-color: transparent;
	border: 0 none;
	box-shadow: none;
	color: #111;
	margin: 0;
	padding: 8px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	line-height: 25px;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px
}
.rt_hb_subscribe-select select::-ms-expand {
	display: none; /* to ie 10 */
}
.rt_hb_subscribe-select select:focus {
	outline: none;
}
:-moz-any(.rt_hb_subscribe-select):before {
	background-color: #FFF;
	pointer-events: none;
	z-index: 1;
}
.rt_v3_SelectProvince{background-color: #FFF;border: none;}
:-moz-any(.rt_v3_SelectProvince):before {
	background-color: #FFF;
}
.rt_hb_BuildAscDesc select{padding: 1px 10px;height: 28px;font-size: 13px}
.rt_hb_BuildAscDesc2 select{padding: 1px 10px;height: 28px;font-size: 13px}
.rt_hb_BuildAscDesc{border-radius: 0}
.rt_hb_BuildAscDesc2{border-radius: 0}


/*price range dropdown - home search*/
.rt_hb_SearchPrice .price_range_title{
    width:20%;
    margin-right:0;
}
.rt_hb_SearchPrice .price_range_dropdown_div{
    float:left;
    width:345px
}
.rt_hb_SearchPrice .price_range_dropdown{
    padding-left: 0;
}

/*price range dropdown - subscribe*/
.rt_FormsubscribePrice .price_range_title{
    width:20%;
    margin-right:0;
}
.rt_FormsubscribePrice .price_range_dropdown_div{
    float:left;
    width:77%
}
.rt_FormsubscribePrice .price_range_dropdown{
    padding: 7px 15px;
    margin-top: 1px;
	height: 42px;
}
.rt-caret-downFix select{height: 42px;}

/*Css Label CheckBox*/

label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].css-checkbox {
	  position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:17px;
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -17px;
}

.css-label{
	background-image:url('../images/lite-x-gray.png');
}

/*specific classes related to Checkbox skins*/
.lite-x-gray{background-image:url('../images/lite-x-gray.png');}

input[type=checkbox].css-checkbox.med + label.css-label.med {
	padding-left:22px;
    height:17px;
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {

    background-position: 0 -17px;
}
input[type=checkbox].css-checkbox.sme + label.css-label.sme {
	padding-left:22px;
    height:17px;
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme{

    background-position: 0 -17px;
}
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
	padding-left:22px;
    height:20px;
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{

    background-position: 0 -17px;
}

input[type=radio].rt_radioCss {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}

input[type=radio].rt_radioCss + label.rt_csslabel {
	padding-left:20px;
	height:16px;
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 -1px;
	font-size:14px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=radio].rt_radioCss:checked + label.rt_csslabel {
	background-position: 0 -17px;
/*	font-weight: bold*/
}
label.rt_csslabel {
background-image:url('../images/radio.png');
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=radio].rtcss-checkboxPG {
position: absolute;
overflow: hidden;
clip: rect(0 0 0 0);
height:1px;
width:1px;
margin:-1px;
padding:0;
border:0;
}

input[type=radio].rtcss-checkboxPG + label.rtcss-labelPG {
padding-left:66px;
height:50px;
display:inline-block;
line-height:50px;
background-repeat:no-repeat;
background-position: 0 0;
vertical-align:middle;
cursor:pointer;
}

input[type=radio].rtcss-checkboxPG:checked + label.rtcss-labelPG,input[type=radio].rtcss-checkboxPG:checked + label.rtcss-labelPG:hover {
background-position: 0 -101px;
font-weight: bold
}
input[type=radio].rtcss-checkboxPG + label.rtcss-labelPG:hover{background-position: 0 -49px}
.rtcss-labelPG{
background-image:url('../images/ck_postG.jpg');
}
